/* .portfolio {
    background-color: #23272A;
} */

/* .portfolio .projects-container {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 12px;
} */

/* .portfolio .projects-container .project {
    flex: 1;
    padding: 12px;
} */

/* .portfolio .projects-container .project:first-child {
    padding-left: 0px;
} */

/* .portfolio h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: #F6F6F6;
    padding: 12px;
} */

.project h3 {
    color: lightblue;
}

/* .portfolio .container .imgList ul {
    list-style: none;
    display: flex;
    overflow: hidden;
} */

.portfolio .imgList {
    display: flex;
    align-items: left;
}

.portfolio .cryptowatch {
    overflow: hidden;
    width: 100%;
    height: 75%
}

.portfolio .rgmarket {
    overflow: hidden;
    width: 100%;
    height: 75%
}

.portfolio .notetaker {
    overflow: hidden;
    width: 100%;
    height: 75%;
}