.footer {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #484d54;
    padding: 12px;
}

.footer .git {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 12px;
    color: #5865F2;
}

.footer .link {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 12px;
    color: #5865F2;
}
