.footer {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #333d29;
    padding: 12px;
}

.footer .git {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 12px;
    color: #656d4a;
}

.footer .link {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 12px;
    color: #656d4a;
}
